{% extends 'MetastazTemplateBundle::template.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/metastaz/js/ajaxify_metastaz.js') }}"></script>
{% endblock %}

{% block content %}

    <div class="form">
        {% include 'MetastazTemplateBundle:MetastazTemplate:templateForm.html.twig' with params %}
    </div>

    {% if metastaz_fields | length %}
        <table class="list">
            <thead>
                <tr>
                    <th>Namespace</th>
                    <th>Key</th>
                    <th>Indexed</th>
                    <th>Type</th>
                    <th>Options</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for field in metastaz_fields %}
                <tr>
                    <td>{{ field.metaNamespace }}</td>
                    <td>{{ field.metaKey }}</td>
                    <td>{{ field.isIndexed }}</td>
                    <td>{{ field.getMetastazFieldType() }}</td>
                    <td>{{ field.options }}</td>
                    <td>
                        <ul class="actions">
                            <li>
                                <a href="{{ path('metastaz_template_field_edit', { 'id': field.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <div class="form_container"></div>

    <hr />

    <ul class="actions">
        <li>
            <a class="back" href="{{ path('metastaz_template') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a class="new create_link" href="{{ path('metastaz_template_field_new', { 'id': entity.id }) }}">
                Create new field
            </a>
        </li>
        <li>
            <a class="show" href="{{ path('metastaz_template_form_show', { 'id': entity.id }) }}">
                Show form
            </a>
        </li>
        <li>
            <form action="{{ path('metastaz_template_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>

{% endblock %}
