{% extends 'MetastazTemplateBundle::template.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/metastaztemplate/js/ajaxify_metastaz_template.js') }}"></script>
{% endblock %}

{% block content %}
    {% form_theme edit_form 'MetastazTemplateBundle:Form:fields.html.twig' %}

    <form action="{{ path('metastaz_template_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        {{ form_errors(edit_form) }}
        {{ form_row(edit_form.name) }}

        {{ form_rest(edit_form) }}
        <ul class="actions">
            <li><button type="submit">Save</button></li>
        </ul>
    </form>

    {% if metastaz_fields | length %}
        <table class="list">
            <thead>
                <tr>
                    <th>Namespace</th>
                    <th>Key</th>
                    <th>Indexed</th>
                    <th>Type</th>
                    <th>Options</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for field in metastaz_fields %}
                <tr>
                    <td>{{ field.metaNamespace }}</td>
                    <td>{{ field.metaKey }}</td>
                    <td>{{ field.isIndexed }}</td>
                    <td>{{ field.getMetastazFieldType() }}</td>
                    <td>{{ field.options }}</td>
                    <td class="actions">
                        <ul>
                            <li><a href="{{ path('metastaz_template_field_edit', { 'id': field.id }) }}">edit</a></li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <div class="form_container"></div>

    <hr />

    <ul class="actions">
        <li>
            <a class="back" href="{{ path('metastaz_template') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a class="new create_link" href="{{ path('metastaz_template_field_new', { 'id': entity.id }) }}">
                Create new field
            </a>
        </li>
        <li>
            <a class="show" href="{{ path('metastaz_template_form_show', { 'id': entity.id }) }}">
                Show form
            </a>
        </li>
        <li>
            <form action="{{ path('metastaz_template_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Delete</button>
            </form>
        </li>
    </ul>
{% endblock %}
