{% form_theme form 'MetastazTemplateBundle:Form:fields.html.twig' %}

<form action="{{ action_url }}" method="post" {{ form_enctype(form) }}>

    {{ form_row(form.name) }}

    {{ form_rest(form) }}
    <ul class="actions">
        <li>
            <button type="submit">
                {% if(action == 'create') %}
                    Create
                {% else %}
                    Update
                {% endif %}
            </button>
        </li>
        {% if(action == 'create') %}
        <li><a href="{{ path('metastaz_template') }}">Cancel</a></li>
        {% endif %}
    </ul>

</form>
