{% form_theme form 'MetastazDashboardBundle:Form:fields.html.twig' %}

<form id="new_field_form" action="{{ action_url }}" method="post" {{ form_enctype(form) }}>
    {{ form_errors(form) }}

    {{ form_row(form.metastaz_template_field_type) }}
    {{ form_row(form.meta_namespace) }}
    {{ form_row(form.meta_key) }}
    {{ form_row(form.is_indexed) }}
    {{ form_row(form.options) }}

    <input type="hidden" name="{{ form.metastaz_template.vars.full_name }}" value="{{ entity.getMetastazTemplateId() }}" />
    {{ form_row(form._token) }}
    <ul class="actions">
        <li>
            <button type="submit">
                {% if(action == 'create') %}
                    Create
                {% else %}
                    Update
                {% endif %}
            </button>
        </li>
        {% if(action == 'create') %}
        <li><a href="{{ path('metastaz_template_edit', { 'id': entity.getMetastazTemplateId() }) }}">Cancel</a></li>
        {% endif %}
    </ul>
</form>
