{% extends 'MetastazProductBundle::product.html.twig' %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('bundles/metastaz/js/ajaxify_metastaz.js') }}"></script>
{% endblock %}

{% block content %}

<table class="list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Short description</th>
            <th>Long description</th>
            <th>Template name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('metastaz_product_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.shortDescription }}</td>
            <td>{{ entity.longDescription }}</td>
            <td>{{ entity.getCategory() }}</td>
            <td>
                <ul class="actions">
                    <li>
                        <a href="{{ path('metastaz_product_show', { 'id': entity.id }) }}">
                            <span>show</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('metastaz_product_edit', { 'id': entity.id }) }}">
                            <span>edit</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('metastaz_product_association', { 'id': entity.id }) }}">
                            <span>association</span>
                        </a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="form_container">
</div>

<hr />

<ul class="actions">
    <li>
        <a class="new create_link" href="{{ path('metastaz_product_new') }}">
            <span>Create a new product</span>
        </a>
    </li>
</ul>
{% endblock %}
