{% extends 'MetastazProductBundle::product.html.twig' %}

{% block content %}

<table class="properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Short description</th>
            <td>{{ entity.shortDescription }}</td>
        </tr>
        <tr>
            <th>Long description</th>
            <td>{{ entity.longDescription }}</td>
        </tr>

        {% set namespace = '' %}
        {% for meta_namespace, namespace_fields in fields %}
            {% if namespace != meta_namespace %}
                {% set namespace = meta_namespace %}
                <tr><th colspan="2">{{ namespace }}</th></tr>
            {% endif %}
            {% for field in namespace_fields %}
                <tr>
                    <th>
                        {{ field.getMetaKey() }}
                        {% if field.getIsIndexed() %}
                            (indexed)
                        {% endif %}
                    </th>
                    <td>{{ entity.getMetastaz(field.getMetaNamespace(), field.getMetaKey()) }}</td>
                </tr>
            {% endfor %}
        {% endfor %}

    </tbody>
</table>

<hr />

<ul class="actions">
    <li>
        <a class="back" href="{{ path('metastaz_product') }}">
            <span>Back to the list</span>
        </a>
    </li>
    <li>
        <a class="edit" href="{{ path('metastaz_product_edit', { 'id': entity.id }) }}">
            <span>Edit</span>
        </a>
    </li>
    <li>
        <form action="{{ path('metastaz_product_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}

